
#popup-cart-container{
    width: 80%;
    min-height: 70%;

}
#popup-cart-container button{
    position: absolute;
    z-index: 4;
}

embed{
    width: 90%;
    height: 100%;
    z-index: 3;
    margin:0 auto;
}

#close-popup-cart{
    float:right;
    margin:10px;
    border-radius: 50%;
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
    padding-bottom: 2rem;
}
