
._table {
    display: table;
    max-width: 800px;
    width: 80%;
    border-width: 2px;
    border-style:solid;
    margin: 1.5em auto 12rem;
    font-size: 1.5rem;
    position: relative;
    border-radius: 10px 10px 0 0;

}


.heading {
    display: table-row;
    font-weight: bold;
    text-align: center;
}

._row {
    display: table-row;
    position: relative;
}

._table._main .coupon .price{
    border-width: 3px;
    border-style: solid;
}
._table._main ._row:nth-child(2n){
    background-color: #e7e7e7;
}


._table._main .OutOfStockItem button{
    visibility: hidden;
}

.cell {
    text-align: center;
    display: table-cell;
    padding-left: .5rem;
    padding-right: .5rem;
    box-sizing: border-box;
}

._table._main .cell button{
    margin-top: 30%;
}





